name: Java CI

on:
  push:
    branches:    
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew shadowJar
    - uses: webfactory/ssh-agent@v0.1.1
      with:
        ssh-private-key: ${{ secrets.DEPLOY_SSH_KEY }}
    - name: Push jar
      run: |
        mv ./build/libs/*.jar ./mineweb_bridge-$VERSION.jar
        git add mineweb_bridge-$VERSION.jar
        git commit -m "build: Add mineweb_bridge-$VERSION.jar"
        git push $REPO master
      env:
        REPO: git@github.com:${{github.repository}}.git
        VERSION: "3.0.6"
